{% extends 'base.html' %}

{% block content %}
<h2>Twój przypis:</h2>

{{ author_name.0 }}.
{{ author_last_name }}.:


{% if text_title %}
    <i>{{ text_title }}</i> [w:],
{% endif %}

{% if editor_last_name %}
    {{ editor_last_name }}
{% endif %}

{% if editor_name %}
    {{ editor_name.0 }}. [red.]
{% endif %}

{% if book_title %}
    <i>{{ book_title }}</i>,
{% endif %}

{% if translator_name %}
    przeł. {{ translator_name.0 }}.
{% endif %}

{% if translator_last_name %}
    {{ translator_last_name }},
{% endif %}

{% if city %}
    {{ city }}
{% endif %}

{% if year%}
    {{ year }},
{% endif %}

{% if page %}
    s. {{ page }}.
{% endif %}

{% endblock %}