{% extends 'base.html' %}

{% block content %}
<h2>Twój przypis:</h2>
<p><i>{{ film_title }}</i>,
reż. {{ director_name }},

{% if dop_name %}
    zdj. {{ dop_name }},
{% endif %}
{% if country %}
    {{ country }},
{% endif %}
{% if year%}
    {{ year }}.
    {% endif %}</p><br>
<i>Aby dodać przypis w programie Microsoft Word, kliknij w miejsce, w którym chcesz dodać przypis i użyj kombinacji CTRL+ALT+J (Windows) lub COMMAND+OPTION+F (Mac).</i>


<h2>Zapis bibliograficzny:</h2>
<p><i><b>{{ film_title }}</b></i>,
reż. {{ director_name }},

{% if dop_name %}
    zdj. {{ dop_name }},
{% endif %}
{% if country %}
    {{ country }}
{% endif %}
{% if year%}
    {{ year }}.
    {% endif %}</p>



{% endblock %}