{% extends 'base.html' %}

{% block content %}
<h2>Twój podpis do zdjęcia:</h2>

<p>{% if foto_number %}
    fot. {{ foto_number }}.
{% endif %}
{% if foto_description %}
    {{ foto_description }}.
{% endif %}
{% if foto_source %}
    Źródło: {{ foto_source }}.
    {% endif %}</p><br>
<i>Aby dodać przypis w programie Microsoft Word, kliknij w miejsce, w którym chcesz dodać przypis i użyj kombinacji CTRL+ALT+J (Windows) lub COMMAND+OPTION+F (Mac).</i>


<h2>Zapis bibliograficzny:</h2>

<p>{% if foto_number %}
    fot. {{ foto_number }}.
{% endif %}
{% if foto_description %}
    {{ foto_description }}.
{% endif %}
{% if foto_source %}
    Źródło: {{ foto_source }}.
    {% endif %}</p>


{% endblock %}