{% extends 'base.html' %}

{% block content %}
<h2>Twój przypis:</h2>

<p>{% if web_page_name %}
    {{ web_page_name }}.
{% endif %}

{% if url %}
    {{ url }}
{% endif %}

{% if access %}
    (dostęp: {{ access }}).
    {% endif %}</p><br>
<i>Aby dodać przypis w programie Microsoft Word, kliknij w miejsce, w którym chcesz dodać przypis i użyj kombinacji CTRL+ALT+J (Windows) lub COMMAND+OPTION+F (Mac).</i>


<h2>Zapis bibliograficzny:</h2>


<p>{% if web_page_name %}
    {{ web_page_name }}.
{% endif %}

{% if url %}
    {{ url }}
{% endif %}

{% if access %}
    (dostęp: {{ access }}).
    {% endif %}</p>

{% endblock %}