{% extends 'base.html' %}

{% block content %}
<h2>Twój przypis:</h2>
<p>
{% if author_name %}
    {{ author_name.0 }}.
{% endif %}

{{ author_last_name }},

{% if text_title %}
    <i>{{ text_title }}</i>,
{% endif %}

{% if web_page_name %}
    „{{ web_page_name }}”,
{% endif %}

{% if year %}
    {{ year }}.
{% endif %}

{% if number %}
    nr {{ number }},
{% endif %}

{% if url %}
    {{ url }}
{% endif %}

{% if access %}
    (dostęp: {{ access }}).
{% endif %}</p><br>
<i>Aby dodać przypis w programie Microsoft Word, kliknij w miejsce, w którym chcesz dodać przypis i użyj kombinacji CTRL+ALT+J (Windows) lub COMMAND+OPTION+F (Mac).</i>

<h2>Zapis bibliograficzny:</h2>


<p>{{ author_last_name }},
{% if author_name %}
    {{ author_name.0 }}.
    {% endif %}
{% if year %}
    ({{ year }}).
{% endif %}

{% if text_title %}
    <i>{{ text_title }}</i>.
{% endif %}

{% if web_page_name %}
    „{{ web_page_name }}”{% if number %}, nr {{ number }}{% endif %}.
{% endif %}

{% if url %}
    {{ url }}
{% endif %}
{% if access %}
    (dostęp: {{access}}).
    {% endif %}</p>

{% endblock %}